{{ define "main" }}

<!-- events -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h3 class="mb-0 text-nowrap mr-3">Coming events</h3>
      </div>
    </div>
    <div class="row">
      {{ $events := .Data.Pages }}
      {{ $events := $events | intersect (where $events "Date" "ge" now) }}
      <!-- event -->
      {{ if lt (len ($events)) 1 }}
      <div class="col-12 mb-5">
        <p>There are no events planned yet, keep an eye on the site!</p>
      </div>
      {{ end }}
      {{ range $events }}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h3 class="mb-0 text-nowrap mr-3">Past events</h3>
      </div>
    </div>
    <div class="row">
      <!-- event -->
      {{ $oldevents := .Data.Pages }}
      {{ $oldevents := where $oldevents "Date" "lt" now  }}
      {{ if lt (len ($oldevents)) 1 }}
      <div class="col-12 mb-5">
        <p>There are no events planned yet, keep an eye on the site!</p>
      </div>
      {{ end }}
      {{ range $oldevents }}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /events -->

{{ end }}