{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- content -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 content pb-4">
                <h2 id="jij-bent-onze-volgende-data-engineer-data-scientist-of-machine-learning-engineer-omdat">
                    You are our next Data Engineer, Data Scientist or Machine Learning Engineer because: </h2>            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 content">
                <ul>
                    <li> As a consultant, you want to work on a project that fits your ambition, with a client who is
                        capitalizes on your experience and the opportunity to move on when you are ready for the next project.</li>
                    <li>You are looking for an environment where continuous learning is paramount: with codecamps in a beach house,
                        worldwide conferences and working on open source projects.</li>
                    <li>You are looking for colleagues who inspire you. And who would you like to have a beer with?
                        want to drink, ski, attend conferences or go out for a night</li>               </ul>
            </div>

            <div class="col-xs-12 col-sm-6">
                <img  src="/images/magic.svg" width="100%" height="200px" />
            </div>
            <div class="col-xs-12 col-sm-6 pt-5">
                <img src="/images/pika.svg" width="100%" height="200px" />
            </div>

            <div class="col-xs-12 col-sm-6 content">
                <ul>

                </br>
                    <li> You like to be able to talk about technology with your colleagues in a beautiful office and to participate in the day-to-day
                         Mario Kart competition can participate</li>
                     <li> You believe that employment conditions should match what you are worth. And this includes ee
                         laptop and car of your choice, but above all a wide training package.</li>
                     <li>And if you take out all the Pokemons here, we'll give you a local beer: Python, Java,
                         Golang, R, Spark, Scala, Flink, Adabas, Kafka, pandas, numpy, tensorflow, pytorch, keras, jirachi, Seahorse,
                         Databricks, Azure, DevOps, Sagemaker, Hekaton, Big Query, Geodude, Dash, R-Shiny, Yolo, OpenCV, Snowflake, Glue,
                         Azurill, Athena, Airflow, Kubernetes, Terraform, Arvados, Ambari, Ariados</li>               
                </ul>
            </div>
        </div>
        <div class="row justify-content-center py-4">
            <img src="/images/cloud.svg" width="100%"/>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 content">
                <h2 id="hoe-dan" class="pb-3">How?</h2>
                <p>
                    We look forward to telling you more about Smartworkz, Big Data and Pokemon: Send your CV or
                    LinkedIn to <a href="mailto:info@smartworkz.nl">info@smartworkz.nl</a>. 
                    We will contact you at the same day. 
                    We then invite you out for an introduction in which we discuss with each other whether Smartworkz is right for you. 
                    If that is the case, you will meet two of our engineers for a follow up interview. 
                    The interview mainly revolves around technical inspiration. 
                    Find that you are a good fit? 
                    Then we offer you a contract for an indefinite period.
                    Welcome to Smartworkz!
                </p>            
            </div>
            <div class="col-xs-12 col-sm-6">
                <img class="rellax" data-rellax-speed="-1" src="/images/science.svg" width="100%" height="300px" />
            </div>
        </div>
    </div>
</section>
<!-- /content -->

{{ end }}