{{ define "main" }}
{{ $data := index site.Data site.Language.Lang }}
{{ $video_image1 := "/images/video-1.png" }}
{{ $video_image2 := "/images/video-2.png" }}
{{ $video_image3 := "/images/video-3.png" }}
{{ $video_link1 := "https://youtu.be/3HxEJk6APy0"}}
{{ $video_link2 := "https://youtu.be/sZMcCRtbL28"}}
{{ $video_link3 := "https://youtu.be/IdV4n4hgIRY"}}
<!-- <section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 mb-4">
                <div class=" bg-cover">
                    <div class="position-relative success-video culture-video">
                        <img src="{{ $video_image1 | absURL }}"/>
                        <a class="play-btn venobox" href="{{ $video_link1 | safeURL }}" data-vbtype="video">
                            <i class="ti-control-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 mb-4">
                <div class=" bg-cover">
                    <div class="position-relative success-video  culture-video">
                        <img src="{{ $video_image2 | absURL }}" />
                        <a class="play-btn venobox" href="{{ $video_link2 | safeURL }}" data-vbtype="video">
                            <i class="ti-control-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class=" bg-cover">
                    <div class="position-relative success-video  culture-video">
                        <img src="{{ $video_image3 | absURL }}" />
                        <a class="play-btn venobox" href="{{ $video_link3 | safeURL }}" data-vbtype="video">
                            <i class="ti-control-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- content -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 content">
                <h2 id="wij-zijn-dataworkz-de-specialist-in-data">We are Smartworkz. Your Cloud Specialist.</h2>
                <p>And do it just a little differently. With a huge network of cloud specialists, 
                    we have passed the start-up phase and are continuing to grow. 
                    With interesting projects, own tooling (KubeETL, Bikeworkz) and a close-knit team. 
                    Where people and technology are central.</p>
                <div class="testimonial-quote group right">
                    <img src="/images/me.jpg">
                    <div class="quote-container">
                        <blockquote>
                            <p>If you enjoy collaborating with your colleagues and talking about the latest state-of-the-art technology in a fast-paced environment, 
                                then working for Smartworkz will be your next stop to grow your great ideas and to be inspired to innovate in your field of expertise. 
                                You will be working with various teams comprising fantastic people from diverse backgrounds, cultures, industries and expertise. 
                                In addition, you will also have the opportunity to be involved in your next project and interact with people at all levels of the organization in a continuous learning environment, 
                                to develop your technical, networking, leadership, and soft skills. Smartworkz believes in what you are worth and provides excellent offices and meeting spaces in various cities throughout the Netherlands, 
                                a flexible hybrid schedule, as well as a generous package that includes car leasing, laptop and training. At Smartworkz, you belong to a group that is looking forward to facilitating change and evolving with added value for your clients and yourself.</p>
                        </blockquote>
                        <cite><a href="/team/kyriakos-antoniadis/"><span>Kyriakos</span></a><br>
                            Machine Learning Engineer
                        </cite>
                    </div>
                    <hr />
                </div>
                <h2 id="wat-doen-we">What are we doing?</h2>
                <p>We do a lot and very varied. As long as it has to do with data and helps our customers further.
                    As a consultant you work together with the customer on his projects. 
                    And your Smartworkz family is always there in the background to help you with the customer, so you are never alone.
                    <br>
                    You work for the customer. On a project that suits you.</p>
                <div class="testimonial-quote group">
                    <img src="/images/culture/arno.jpg">
                    <div class="quote-container">
                        <blockquote>
                            <p>In a world where companies are still struggling to become flat, flexible and relinquish C-level power in favor of more employee 
                                self-determination and independence SmartWorkz comes to set the standard for what it means to be a self-propellant, fun organization. 
                                <br>
                                At Smartworkz we focus in satisfying your developer endless curiosity for new technologies, 
                                we are all committed to learning and developing innovative solutions. We do this by matching you with the project you want to do, 
                                doing so empowers you for maximum growth. 
                                <br>
                                But of course, not all is work. The flexible environment set up here will ensure you have time to relax in all sorts of different 
                                activities (conferences, nintendo switch, bars, or a combination of those) as well as company outings. We make sure everyone is well rested and all their personal needs are addressed, your life matters, and we want are commited to the well-being of every colleague. 
                                <br>
                                Come and join the diverse background SmartWorkz has to offer and be part of the change consultancy needs. </p>
                        </blockquote>
                        <cite><a href="/team/david-bros/"><span>David</span></a><br>
                            Data / DevOps Engineer
                        </cite>
                    </div>
                    <hr />
                </div>
                <h2 id="hoe-werken-we-samen">How do we work together?</h2>
                <p>Our team consists of data scientists, data engineers, machine learning engineers. 
                    Knowledge sharing, innovation and product development are a matter of course for us. 
                    We also like to share our knowledge with others, for which we regularly organize meetups and workshops. 
                    To be inspired, we visit worldwide conferences (London, Moscow). 
                    We are also speakers or give presentations at various conferences such as ODSC, Devoxx, Teqnation and JFall.
                    <br>
                    Within Smartworkz we have short lines of communication so that decisions are made quickly. We do not believe in hierarchy, but in structure. 
                    And achieve more together than alone. Together we build a beautiful and successful Smartworkz.
                    Our culture is our success. Started as a group of friends, still a group of friends. One of smart entrepreneurs. 
                    That's what connects us and how we interact with each other.</p>
               <!--  <div class="testimonial-quote group right">
                    <img src="/images/culture/joep.jpg">
                    <div class="quote-container">
                        <blockquote>
                            <p>At Smartworkz you have a lot of influence on what you do and what happens in between
                                happens. so i have for example also had a lot of influence within Smartworkz, because I have the coffee
                                picked out</p>
                        </blockquote>
                        <cite><a href="/team/joep-kokkeler/"><span>Joep</span></a><br>
                            Data Engineer
                        </cite>
                    </div>
                    <hr />
                </div> -->
                <p>In order to continue to develop yourself, we will find the ideal project that suits you best. 
                    Projects that give you energy. Good for you and for our customer.
                    In addition to hard work, there is also a lot of fun. 
                    We regularly organize socials, which in addition to fun also strengthens the bond with each other.</p>
                <p>Do you really want to see what we've done? Take a look at our <a href="/about">Timeline</a>!</p>
            </div>
        </div>
    </div>
</section>
<!-- /content -->

{{ end }}